@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "posts";
@import "user";
@import "header";
@import "footer";
@import "tags";
@import "searches";
@import "all-lists";
@import "mixin/mixin";

body{
  background-color: #F2FDFF;
}
a:hover{
  text-decoration: none;
}
a{
  text-decoration: none;
}