.contents-field
  %p ◆タグ (カンマで区切る)
  = form.text_field :tag_list, value: @post.tag_list.join(','), placeholder: '例)沖縄,石垣島', class: 'form__tag'
.contents-field
  %p ◆タイトル
  = form.text_field :title, placeholder: '例)感動！石垣島で初マンタ', class: 'form__title'
.contents-field
  %p ◆投稿内容
  = form.text_area :text, class: 'form__text'
= form.submit '投稿する', class: 'form__btn'