.posts-wrap__lists
  .post
    .post__title
      = link_to post.title, post_path(post.id)
    .post__image
      = image_tag post.image.to_s
    .post__username
      %p 投稿者：
      = link_to post.user.name, user_path(post.user)