.users-wrap__lists
  .user
    = link_to user_path(user.id) do
      .user__name
        = user.name
      - if user.image.url present?
        .user__image
          = image_tag user.image.url(:thumb), class: "userprof-pic"
