@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
a {
  text-decoration: none;
  color: black;
}

//------------------indexページ----------------------
.title-wrap {
  padding-top: 56%;
  width: 100%;
  background-image: image-url("pict/bl_topimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  .main-title {
    font-size: 60px;
    color: white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
.contents-wrap{
  width: 800px;
  background-color: white;
  margin: 0 auto 50px;
  .contents-title--main {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .posts-wrap {
    margin: 10px auto 0;
    &__lists {
      padding: 10px;
      background-color: #F2FDFF;
      &:hover {
        opacity: 0.5;
      }
      width: 80%;
      margin: 30px auto;
      box-shadow: 0 0 10px rgba(black,0.2);
      box-sizing: border-box;
      .post {
        padding: 0 30px;
        &__title {
          font-size: 20px;
          text-align: center;
        }
        &__image > img {
          margin-top: 10px;
          width: 100%;
        }
        &__tags {
          .tag-name {
            background-color: skyblue;
            border: 1px solid transparent;
            border-radius: 5px;
            padding: 5px;
          }
        }
        &__username {
          display: flex;
          margin-top: 10px;
          text-decoration: none;
        }
        .favorite-num {
          display: flex;
        }
      }
    }
    
  }
}
.main-menu {
  width: 100%;
  height: 50px;
  padding-top: 70px;
  background-color:rgb(0,24,98);
  position: fixed;
  z-index: 2;
  .contents-menu {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 50px;
    color: white;
    .menu-text {
      color: white;
      border: 1px solid rgba(125, 205, 249, 0.8);
      border-radius: 5px;
      padding: 5px;
    }
  }
}
.paginate{
  text-align: center;
  .pagination>li>a {
    border: none;
    color: #696969;
  }
  .pagination>.active>a {
    background: #93c9ff;
    border-radius: 15px;
  }
  .pagination>li>a:hover {
    border-radius: 15px;
  }
}



//----------------新規投稿-------------------
.form{
  width: 800px;
  height: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  background-color: white;
  &__field {
    margin: 20px auto;
    width: 620px;
    &--first {
      margin: 50px auto 20px;
      width: 620px;
    }
    .field-label__require {
      background-color: blue;
      margin: 0 0 0 5px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
    }
    .field-label__hoge {
      background-color: #BFBFBF;
      margin: 0 0 0 5px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
    }
    &__tag {
      margin-top: 5px;
      padding-left: 8px;
      display: block;
      width: 100%;
      height: 50px;
      border-radius: 4px;
      border: 1px solid black ;
    }
    &__title{
      margin-top: 5px;
      padding-left: 8px;
      display: block;
      width: 100%;
      height: 50px;
      border-radius: 4px;
      border: 1px solid black ;
    }
    &__text {
      margin-top: 5px;
      padding-left: 8px;
      padding-top: 8px;
      display: block;
      width: 100%;
      height: 100px;
      border-radius: 4px;
      border: 1px solid black ;
    }
    &__btn {
      border: 1px solid transparent;
      background-color: skyblue;
      text-decoration: none;
      color: #fff;
      line-height: 48px;
      width: 500px;
      margin: 0 auto;
      cursor: pointer;
      margin-top: 32px;
      display: block;
      text-align: center;
      border-radius: 4px;
    }
    .up-image__group{
      height: 100%;
      width: 100%;
      display: flex;
      .item_imgs {
        height: 150px;
        width: 100%;
        background-color: rgb(245, 245, 245);
        border: solid 1px black;
        margin-top: 20px;
        cursor: pointer;
        input[type='file'] {
          display: none;
        }
      }
      .fa-camera {
        font-size: 20px;
        margin-bottom: 8px;
        width: 100%;
        text-align:center;
        padding-top: 60px;
      }
      p {
        text-align:center;
        font-size: 12px;
        line-height: 1.4em;
      }
    }
    .under_group{
      display: none;
      .up-image__group_2nd_row {
        width: 100%;
        height: 100%;
        display: flex;
        .previews_2nd_row{
          display: flex;
          height: 100%;
        }
        .item_imgs_2nd_row {
          width: 100%;
          height: 150px;
          background-color: rgb(245, 245, 245);
          border: solid 1px black;
          cursor: pointer;
          .fa-camera {
            font-size: 20px;
            margin-bottom: 8px;
            width: 100%;
            text-align:center;
            padding-top: 70px;
          }
          input[type='file'] {
            display: none;
          }
        }
      }
    }
    .previews {
      display: flex;
      height: 190px;
      padding-top: 20px;
      .preview{
        height: 150px;
        width: 120px;
        margin-right: 5px;
        background-color: rgb(245, 245, 245);
        .img_box{
          height: 118px;
          width: 100%;
          display: flex;
          align-items: center;
          .preview_image{
            max-width: 120px;
            max-height: 118px;
            margin: 0 auto;
          }
        }
        .preview_btn{
          text-align: center;
          line-height: 32px;
          color: rgb(0, 149, 238);
          cursor: pointer;
          height: 32px;
          width: 100%;
          border-top: 1px solid rgb(204, 204, 204);;
        }
      }
    }
  }
}


//----------------投稿詳細-------------------
.post-contents {
  background-color: white;
  padding: 80px 150px;
  width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(black,0.2);
  box-sizing: border-box;
  &__title{
    font-size: 30px;
    text-align: center;
  }
  &__username{
    text-align: center;
  }
  &__manage{
    display: flex;
    justify-content: center;
    font-size: 10px;
    &__edit{
      border-radius: 5px;
      color: #ffffff;
      background-color:rgb(1,23,98);
      padding: 5px;
      margin-left: 10px;
    }
    &__delete{
      border-radius: 5px;
      color: #ffffff;
      background-color:rgb(1,23,98);
      padding: 5px;
      margin-left: 10px;
    }
  }
  &__text{
    margin-top: 20px;
  }
  &__image {
    margin-top: 20px;
    img {
      width: 100%;
    }
  }
  &__tags {
    margin-top: 20px;
    .tag-name {
      background-color: skyblue;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 5px;
    }
  }
  .like-wrap{
    margin-top: 20px;
    .favorite-num {
      display: flex;
      padding-left: 30px;
      margin-top: 10px;
    }
  }
  
  .comments-wrap {
    margin-top: 20px;
    .comment-form {
      &__text {
        width: 100%;
      }
      .comment__btn{
        border: 1px solid transparent;
        background-color: skyblue;
        text-decoration: none;
        color: #fff;
        line-height: 48px;
        width: 500px;
        margin: 0 auto;
        cursor: pointer;
        margin-top: 10px;
        display: block;
        text-align: center;
        border-radius: 4px;
      }
    }
    .comments {
      border: 1px dashed gray;
      margin-top: 20px;
      padding: 10px 20px;
      h4 {
        text-align: center;
      }
      .comment-user-name{
        color: blue;
      }
    }
  }
  
    
    .comment-lists {
      margin-top: 20px;
    }
}