@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
a {
  text-decoration: none;
  color: black;
}

// indexページ
.title-wrap {
  padding-top: 56%;
  width: 100%;
  background-image: image-url("pict/bl_topimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  .main-title {
    font-size: 60px;
    color: white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
.contents-wrap{
  height: 700px;
  background-color: white;
  padding-top: 30px;
  overflow: scroll;
  .posts-wrap {
    margin: 20px auto 0;
    width: 70%;
    display: flex;
    &__lists {
      border: 1px solid cornflowerblue;
      width: 25%;
      margin-left: 10px;
      .post {
        padding: 0 10px;
        &__title {
          font-size: 20px;
        }
        &__image > img {
          width: 100%;
        }
        &__tags {
          .tag-name {
            background-color: chocolate;
            border: 1px solid transparent;
            border-radius: 5px;
            padding: 5px;
          }
        }
        &__username {
          display: flex;
          float: right;
          text-decoration: none;
        }
      }
   
    }
    
  }
}
.pagination {
  text-align: center;
}



// postページ
.contents-title {
  font-size: 30px;
  border-bottom: 3px solid rgb(245, 245, 245) ;
  display: flex;
  justify-content: center;
  .postManage{

    justify-content: center;
    font-size: 15px;
    margin-top: 10px;
    &__edit{
      border-radius: 5px;
      color: #ffffff;
      background-color:skyblue;
      padding: 10px;
      margin-left: 10px;
    }
    &__delete{
      border-radius: 5px;
      color: #ffffff;
      background-color:skyblue;
      padding: 10px;
      margin-left: 10px;
    }
  }

}
.form{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
  &__tag {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid black ;
  }
  &__title{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid black ;
  }
  &__text {
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 4px;
    border: 1px solid black ;
  }
  &__btn {
    border: 1px solid transparent;
    background-color: skyblue;
    text-decoration: none;
    color: #fff;
    line-height: 48px;
    width: 100%;
    cursor: pointer;
    margin-top: 32px;
    display: block;
    text-align: center;
    border-radius: 4px;
  }
  .contents-field {
    margin-top: 20px;
  }
}

.postTitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 100px;
}


.comments-wrap {
  margin: 0 auto;
  padding: 30px;
  .comment-form {
    &__text {
      width: 100%;
    }
  }
  .comment-lists {
    margin-top: 20px;
  }
}

.tags-contents {
  padding-top: 80px;
}

.post-contents {
  padding: 50px;
  width: 50%;
  margin: 30px auto 0;
  // @include boxBase(20px 0 ,30px);
  box-shadow: 0 0 10px rgba(black,0.2);
  background-color: white;
  box-sizing: border-box;
  &__tags {
    .tag-name {
      background-color: chocolate;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 5px;
    }
  }
  &__text{
    margin-top: 20px;
  }
  .comments-wrap {
    margin-top: 20px;
    .comment {
      border: 1px solid gray;
      border-radius: 5px;
      padding: 5px;
      margin-top: 15px;
    }
  }
  &__image > img {
    width: 100%;
  }
}
