@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
a {
  text-decoration: none;
  color: black;
}

//------------------indexページ----------------------
.title-wrap {
  padding-top: 56%;
  width: 100%;
  background-image: image-url("pict/bl_topimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  .main-title {
    font-size: 60px;
    color: white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
.contents-wrap{
  height: 700px;
  background-color: white;
  padding-top: 15px;
  overflow: scroll;
  .contents-title--main {
    font-size: 30px;
  border-bottom: 3px solid rgb(245, 245, 245) ;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  }

  .posts-wrap {
    margin: 20px auto 0;
    width: 70%;
    display: flex;
    &__lists {
      padding: 10px;
      background-color: linen;
      width: 25%;
      margin-left: 10px;
      box-shadow: 0 0 10px rgba(black,0.2);
      box-sizing: border-box;
      .post {
        padding: 0 10px;
        &__title {
          font-size: 20px;
        }
        &__image > img {
          width: 100%;
        }
        &__tags {
          .tag-name {
            background-color: skyblue;
            border: 1px solid transparent;
            border-radius: 5px;
            padding: 5px;
          }
        }
        &__username {
          display: flex;
          text-decoration: none;
        }
        .favorite-num {
          display: flex;
        }
      }
    }
    
  }
}
.main-menu {
  width: 100%;
  height: 50px;
  padding-top: 70px;
  background-color:rgb(0,24,98);
  position: fixed;
  z-index: 2;
  .contents-menu {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 50px;
    color: white;
    .menu-text {
      color: white;
      border: 1px solid rgba(125, 205, 249, 0.8);
      border-radius: 5px;
      padding: 5px;
    }
  }
}
.pagination {
  text-align: center;
}


//----------------新規投稿-------------------
.contents-title {
  font-size: 30px;
  border-bottom: 3px solid rgb(245, 245, 245) ;
  display: flex;
  justify-content: center;
  padding-top: 130px;
  .postManage{
    justify-content: center;
    font-size: 15px;
    margin-top: 10px;
    &__edit{
      border-radius: 5px;
      color: #ffffff;
      background-color:skyblue;
      padding: 10px;
      margin-left: 10px;
    }
    &__delete{
      border-radius: 5px;
      color: #ffffff;
      background-color:skyblue;
      padding: 10px;
      margin-left: 10px;
    }
  }
}
.form{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
  &__tag {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid black ;
  }
  &__title{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid black ;
  }
  &__text {
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 4px;
    border: 1px solid black ;
  }
  &__btn {
    border: 1px solid transparent;
    background-color: skyblue;
    text-decoration: none;
    color: #fff;
    line-height: 48px;
    width: 100%;
    cursor: pointer;
    margin-top: 32px;
    display: block;
    text-align: center;
    border-radius: 4px;
  }
  .contents-field {
    margin-top: 20px;
    .form__text {
      height: 200px;
    }
    .field-label__require {
      background-color: blue;
      margin: 0 0 0 5px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
    }
    .field-label__hoge {
      background-color: #BFBFBF;
      margin: 0 0 0 5px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
    }
  }
}

.postTitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 100px;
}
.comments-wrap {
  margin: 0 auto;
  padding: 30px;
  .comment-form {
    &__text {
      width: 100%;
    }
  }
  .comment-lists {
    margin-top: 20px;
  }
}

.tags-contents {
  padding-top: 80px;
}

.post-contents {
  background-color: linen;
  padding: 50px;
  width: 50%;
  margin: 30px auto 0;
  box-shadow: 0 0 10px rgba(black,0.2);
  box-sizing: border-box;
  &__tags {
    padding: 0 30px;
    .tag-name {
      background-color: skyblue;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 5px;
    }
  }
  .favorite-num {
    display: flex;
    padding-left: 30px;
    margin-top: 10px;
  }
  &__text{
    margin-top: 20px;
    padding: 0 30px;
  }
  &__image {
    padding: 10px 30px;
  }
  .comments-wrap {
    margin-top: 20px;
    .comment {
      border: 1px solid gray;
      border-radius: 5px;
      padding: 5px;
      margin-top: 15px;
      &__name {
        display: flex;
        justify-content: flex-end;

      }
    }
  }
  &__image > img {
    width: 100%;
  }
}
